{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AddrKontakte</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Kontaktkdnr</th>
                <td>{{ entity.kontaktKdnr }}</td>
            </tr>
            <tr>
                <th>Kontakttyp</th>
                <td>{{ entity.kontaktTyp }}</td>
            </tr>
            <tr>
                <th>Kontaktanrede</th>
                <td>{{ entity.kontaktAnrede }}</td>
            </tr>
            <tr>
                <th>Kontaktname</th>
                <td>{{ entity.kontaktName }}</td>
            </tr>
            <tr>
                <th>Kontaktname2</th>
                <td>{{ entity.kontaktName2 }}</td>
            </tr>
            <tr>
                <th>Kontaktname3</th>
                <td>{{ entity.kontaktName3 }}</td>
            </tr>
            <tr>
                <th>Kontaktkurzname</th>
                <td>{{ entity.kontaktKurzname }}</td>
            </tr>
            <tr>
                <th>Kontaktstrasse</th>
                <td>{{ entity.kontaktStrasse }}</td>
            </tr>
            <tr>
                <th>Kontaktplz</th>
                <td>{{ entity.kontaktPlz }}</td>
            </tr>
            <tr>
                <th>Kontaktort</th>
                <td>{{ entity.kontaktOrt }}</td>
            </tr>
            <tr>
                <th>Kontakttelefon</th>
                <td>{{ entity.kontaktTelefon }}</td>
            </tr>
            <tr>
                <th>Kontakttelefax</th>
                <td>{{ entity.kontaktTelefax }}</td>
            </tr>
            <tr>
                <th>Kontaktemail</th>
                <td>{{ entity.kontaktEmail }}</td>
            </tr>
            <tr>
                <th>Kontakturl</th>
                <td>{{ entity.kontaktUrl }}</td>
            </tr>
            <tr>
                <th>Kontaktbemerkung</th>
                <td>{{ entity.kontaktBemerkung }}</td>
            </tr>
            <tr>
                <th>Kontaktaktualisiert</th>
                <td>{{ entity.kontaktAktualisiert|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Statusid</th>
                <td>{{ entity.statusId }}</td>
            </tr>
            <tr>
                <th>Parentid</th>
                <td>{{ entity.parentId }}</td>
            </tr>
            <tr>
                <th>Protectionlevel</th>
                <td>{{ entity.protectionLevel }}</td>
            </tr>
            <tr>
                <th>Recordstatus</th>
                <td>{{ entity.recordStatus }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('kontakte') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('kontakte_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
