{% block navigation %}
<nav class="main-menu" data-step='2' data-intro='This is the extendable Main Navigation Menu.' data-position='right'>
	<img src="{{ asset('/bundles/vestsymfony/images/responsa_140px.png') }}" class="navi_logo">
    <ul>
        {% for item in navigation %}
        <li class="">
        <a href="{{ path(item.kurzname) }}">
            <i class="{{ item.icon }} nav-icon" style="color: {{ item.farbe }}"></i>
                <span class="nav-text">
                    {{ item.name }}
                </span>

        </a>
        </li>
        {% endfor %}
    </ul>
    <ul class="logout">
        <li>
            <p class="anmeldeinfo">
                Sie sind eingeloggt als:<br>
                {{ user.getPersonVorname }} {{ user.getPersonName }} von {{ user.getKontakt.getKontaktKurzname }}
               </p>
            <a href="?logout=1">
                <i class="icon-off nav-icon"></i>
                    <span class="nav-text">
                        Logout
                    </span>
            </a>
        </li>
    </ul>
</nav>
{%  endblock %}