
{% extends "VestSharedBundle:turbulence:base.html.twig" %}
{% block contentinner %}
{% if leer %}
    <h3>Zu dieser Umfrage gibt es noch keine Fragen!</h3>
		<a href="{{ path('Responsa_frage_new', {'u_id': u_id}) }}"><span class="glyphicon glyphicon-plus-sign"></span>Frage Hinzufügen</a>
{% else %}


<div class="panel panel-default">
		<div class="panel-heading">
			<h3 style="float:left"> {{ u_name }}</h3>
			<div style="float:right;"><a href="{{ path('Responsa_edit', {'id': umfrage.id}) }}"><span class="glyphicon glyphicon-retweet"></span>Bearbeiten</a></div>
			<div style="clear:both"></div>
		</div>
  <div class="panel-body">
		
		<div class="well">{{ umfrage.einleitungstext }}</div>
		<div class="row">
			<div class="col-md-6">
			<h4>Parameter</h4>
				<ul class="list-group">
					<li class="list-group-item">{{ umfrage.feld1 }}</li>
					<li class="list-group-item">{{ umfrage.feld2 }}</li>
					<li class="list-group-item">{{ umfrage.feld3 }}</li>
					<li class="list-group-item">{{ umfrage.feld4 }}</li>
					<li class="list-group-item">{{ umfrage.feld5 }}</li>
				</ul>
			</div>
			<div class="col-md-6">
			<h4>Auswertungsbereiche</h4>
				<ul class="list-group">
					<li class="list-group-item">{{ umfrage.auswertungsbereich1 }}</li>
					<li class="list-group-item">{{ umfrage.auswertungsbereich2 }}</li>
					<li class="list-group-item">{{ umfrage.auswertungsbereich3 }}</li>
					<li class="list-group-item">{{ umfrage.auswertungsbereich4 }}</li>
					<li class="list-group-item">{{ umfrage.auswertungsbereich5 }}</li>
				</ul>
			</div>
		</div>
		
  </div>
</div>
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<tr>
			<th>ID</th>
			<th>Frage</th>
			<th>Priorität</th>
			<th>Auswertungsbereich</th>
			<th>Fragentyp</th>
			<th>
				<a href="{{ path('Responsa_frage_new', {'u_id': u_id}) }}"><span class="glyphicon glyphicon-plus-sign"></span>Hinzufügen</a>
			</th>

		</tr>

		{% for row in data %}
			<tr>
				<td>{{ row.id }}</td>
				<td>{{ row.frage }}</td>
				<td>{{ row.prio }}</td>
				<td>{{ row.auswertungsbereich }}</td>
				<td>
					{% if row.type == 0 %}
					Skalar 1-6
					{% else %}
					Freitext
					{% endif %}
				</td>
				<td><a href="{{ path('Responsa_frage_edit', {'u_id': row.u_id , 'id': row.id}) }}"><span class="glyphicon glyphicon-retweet"></span>bearbeiten</a></td>
			</tr>
		{% endfor %}

	</table>
</div>
{% endif %}

<style>
.overview, .overview tr, .overview tr th, .overview tr td{
	border: 1px solid #888888;
	padding: 2px;
}
</style>
{% endblock %}