{% extends "VestSharedBundle:turbulence:base.html.twig" %}
{% block contentinner %}
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Teilnehmerzahl</th>

		</tr>

		{% for row in data %}
			<tr>
				<td>{{ row.id }}</td>
				<td><a href="{{ path('Responsa_frage_overview', {'u_id': row.id}) }}">{{ row.name }}</a></td>
				<td>{{ row.teilnehmerzahl }}</td>
			

			</tr>
		{% endfor %}

	</table>
</div>
  <p><a href="{{ path('Responsa_new') }}">Hinzufügen</a></p>
<style>
.warpper{
	max-width: 90%;
}
</style>
{% endblock %}